In [1]:
a=1
b=2
c=a+b

In [2]:
print(c)

3

In [3]:
d=c*5
print(d)

15

In [4]:
e=d-1
print(e)

14

In [5]:
str='Hello'
print(str)

Hello

In [6]:
for i in [0,1,2,3,4]:
    print(i)

0
1
2
3
4

In [7]:
data = ["환자1",'환자2','환자3','환자4']
print(data)

['환자1', '환자2', '환자3', '환자4']

In [8]:
for subj in data:
    print(subj)

환자1
환자2
환자3
환자4

In [9]:
for i in range(4):
    #print(i,"번째",data[i])
    if i<2:
        print (data[i],'is A 유형.')
    else:
        print (data[i],'is B 유형.')

환자1 is A 유형.
환자2 is A 유형.
환자3 is B 유형.
환자4 is B 유형.

In [10]:
for i in range(5):
    if i%2 == 0:
        print (i,'is even.')
    else:
        print (i,"is odd.")
print ("Great!")

0 is even.
1 is odd.
2 is even.
3 is odd.
4 is even.
Great!

In [11]:
# 이 코드는 어떤 최대 숫자의 구구단에 해당한다.
# num는 최대 숫자값을 말합니다.
""" 
이 자료는 예제 프로그램입니다.
인공지능 응용 수업 자료입니다.
"""
num=5
for i in range(1,num+1):
    print(i,'단')
    for j in range(1,num+1):
        print(i,'x',j,'=',i*j)

1 단
1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
2 단
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
3 단
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
4 단
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
5 단
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25

In [12]:
a=1; b=2

In [13]:
a=b;print(a)

2

In [14]:
a='hello';b="hello"

In [15]:
print(a)

hello

In [16]:
print(a)

hello

In [17]:
a[0]

'h'

In [18]:
a[2]

'l'

In [19]:
a[4]

'o'

In [20]:
sex_of_animal=1
age_of_father=23
print('성별:',sex_of_animal,"나이:",age_of_father)

성별: 1 나이: 23

In [21]:
a=2;b=3.14;c=0xFF;d=1.2e3;

In [22]:
print(d)

1200.0

In [23]:
data_list = ["환자1",'환자2','환자3','환자4']
data_tuple=("환자1",'환자2','환자3','환자4')
print("리스트:",data_list)
print("튜플:",data_tuple)

리스트: ['환자1', '환자2', '환자3', '환자4']
튜플: ('환자1', '환자2', '환자3', '환자4')

In [24]:
data_list[0]="환자0"
print(data_list)

['환자0', '환자2', '환자3', '환자4']

In [25]:
#data_tuple[0]="환자0"
#print(data_tuple)

In [26]:
C = {'lat': 40.20547, 'lon': -74.76322}

In [27]:
print(C)

{'lat': 40.20547, 'lon': -74.76322}

In [28]:
C['time']='20210908'

In [29]:
print(C)

{'lat': 40.20547, 'lon': -74.76322, 'time': '20210908'}

In [30]:
print(5%2)

1

In [31]:
a=3;b=2
a is not b

True

In [32]:
age_of_legend_count=1
#age_of_legend_count=age_of_legend_count+1
age_of_legend_count+=1
print(age_of_legend_count)

2

In [33]:
sex=1;age=35
(sex==1) & (age<40)

True

In [34]:
sex=1;age=35
(age>45) | (age<30)

False

In [35]:
sex=1;age=35
(age>45) or (age<30)

False

In [36]:
from numpy import *

In [52]:
weight = array([1,2,3])
height = array([2,2,1])

In [53]:
print(weight*height)

[2 4 3]

In [54]:
type(weight)

numpy.ndarray

In [56]:
bmi=1.5

In [58]:
type(bmi)

float

In [85]:
int(3.4)

3

In [86]:
s='hello'

In [90]:
La=[0,2,3]
Lb=La
print(La,Lb)

[0, 2, 3] [0, 2, 3]

In [91]:
La[0]=1
print(La,Lb)

[1, 2, 3] [1, 2, 3]

In [92]:
La=[4,5,6]
print(La,Lb)

[4, 5, 6] [1, 2, 3]

In [94]:
Lb=La[:]

In [95]:
print(La,Lb)

[4, 5, 6] [4, 5, 6]

In [103]:
data=['ID12345_F_23.jpg','ID12325_M_21.jpg','ID13345_F_25.jpg']

In [105]:
print(data)

['ID12345_F_23.jpg', 'ID12325_M_21.jpg', 'ID13345_F_25.jpg']

In [106]:
print(data[0])

ID12345_F_23.jpg

In [108]:
'F' in data[1]

False

In [110]:
for d in data:
    if 'F' in d:
        print('Female') #move xxx folder
    else:
        print('Male') # move yyy folder

Female
Male
Female