In [ ]:
greeting = "Hello"
print(greeting + ". Welcome to python.")

# C-style print

In [ ]:
str1='The number is'; val=5;
str2 = str1 + str(val);
str3='%s %d' % (str1,val);
str4='%s %3d %03d'%(str1,val,val);
print(str4)
print(str1,':',str2,':',str3, str4)

In [ ]:
val=3.141592;
str5='%s %f %6.2f %3.1f' % (str1,val,val,val);
print(str5)

In [ ]:
print("%s. Welcome to python." % greeting)

In [ ]:
prodname="Art"
q = 459; p = 0.098
print(q, p, p * q)
print(q, p, p * q, sep=",")
print(q, p, p * q, sep=" :-) ")

In [ ]:
print("Number of " + prodname +"="+ str(q) + ", price/unit=" + str(p) + ", total=" + str(p * q))

In [ ]:
#c-style
print("Number of %s=%d, price/unit=%4.3f, total=%6.2f" % (prodname,q,p,q*p))

In [ ]:
print("Number of %s=%04d, price/unit=%4.2f, total=%6.1f"%(prodname,q,p,q*p))

In [ ]:
"The grade for %s is %4.1f" % ("Tom", 76.051)

# Utilizing "format" to print

In [ ]:
""" 
This is an example of format
To demark paragraphs, utilize
"""

In [ ]:
name="Park"; age=25;height=178.345678
print("My name is " + name + ". I’m " , age, "years old")
print("My name is %s. I’m %d years old" % (name, age))
print("My name is {}. I’m {} years old".format(name,age))

In [ ]:
print("My height is {:3.2f}. I’m {:3d} years old".format(height,age))

In [ ]:
"value=({},{})".format(2,5)

In [ ]:
"value=({1},{0})".format(2,5)

In [ ]:
"value={longitude},{latitude}".format(latitude=35.6,longitude=139.6)

In [ ]:
'{} {}'.format('one', 'two')

In [ ]:
'{1} {0}'.format('one', 'two')

In [ ]:
'{} {}'.format(1.234, 56)

In [ ]:
'{:3.2f} {:3.2} {:05}'.format(1.234,1.234, 56)

In [ ]:
data = {'first': 'Hodor', 'last': 'Hodor!'}
'{first} {last}'.format(**data) # dictionary as an input

In [ ]:
'{first} {last}'.format(first='Hodor', last='Hodor!')

In [ ]:
person = {'first': 'Jean-Luc', 'last': 'Picard'}
'{p[first]} {p[last]}'.format(p=person)

In [ ]:
data = [4, 8, 15, 16, 23, 42]
'{d[4]} {d[5]}'.format(d=data)

In [ ]:
x=3.141592
print('x={:8.3}, x={:8.3f}'.format(x,x))

## f"" String Format

In [ ]:
name="Park"; age=25;height=178.345678
str="My name is {name}. I’m {age} years old"
str1=f"My name is {name}. I’m {age} years old"
print(str);print(str1)

In [ ]:
str2=f"My height is {height:4.1f}. I’m {age:3d} years old"
print(str2)

In [ ]:
print(f"{name}: {height=:4.1f},{age=:3d}y")

In [ ]:
print(f"{name!r}: {height=:4.1f},{age=:3d}y")

## Examples

In [ ]:
a='one'; b='two'
print('%s %s' % (a, b))
print('{} {}'.format(a, b))
print(f'{a} {b}')

In [ ]:
a=1;b=2
print('%d %03d' % (a, b))
print('{} {:03d}'.format(a, b))
print(f'{a} {b:03d}')

In [ ]:
print('{1} {0}'.format('one', 'two'))

In [ ]:
c=42
print('%d' % (c))
print('{:d}'.format(c))
print(f'{c:d}')

In [ ]:
print('%+04d' % (c))
print('{:+04d}'.format(c))
print(f'{c:+04d}')

In [ ]:
data = {'first': 'PYJ', 'last': 'PYS!'}
print('%(first)s %(last)s' % data)
print('{first} {last}'.format(**data))
print(f'{data["first"]} {data["last"]}')

In [ ]:
data = [4, 8, 15, 16, 23, 42]
print('{d[4]} {d[5]}'.format(d=data))
print(f'{data[4]} {data[5]}')

# String operations

In [ ]:
a = "He found it boring and he left"
loc = a.find("boring")
a = a[:loc] + "fun"
print(a)

In [ ]:
b = ' and '.join(["cars", "trucks", "motorcycles"])
print(b)

c=b.split()
print(c)

d = b.split(" and ")
print(d)

In [ ]:
if "Br" in "Brother":
    print ("Brother contains br")

In [ ]:
email_address = "parkhj"
if "@" not in email_address:
	email_address += "@yuhs.ac"
print (email_address)

In [ ]:
str = "0000000this is string example....wow!!!0000000";
print (str.strip( '0' ))
str = "     this is string example....wow!!!     ";
print (str.rstrip())
print (str.lstrip())
str = "88888888this is string example....wow!!!8888888";
print (str.rstrip('8'))

In [ ]:
print('Hello there!\nHow are you?\nI\'m doing fine.')

In [ ]:
S="This is a beautiful day!"
print(S.capitalize())
print(S.upper())
print(S.center(35,'#')) #S.center(width[, fillchar])
print(S.replace('a','A')) #S.replace(froma,tob)
print(S.count('a')) #S.count(substring [, start-idx [, end-idx]])‏
print(S.count('a',5,15))
print(S.count('is')) 
S.startswith('T'),S.startswith('Th')
S.endswith('!'),S.endswith('y!')
S.isalpha(), S.isdigit(), S.islower(), S.isspace(), S.isupper()
names = ["Ben", "Chen", "Yaqin"]
", ".join(names)

In [ ]:
myvar=int(input("Please enter #:"))
print(myvar*2)

In [ ]:
print(myvar)

In [ ]:
x = int(input("Please enter #:"))
print("You entered {}".format(x))

In [ ]:
a,b=input("Enter the numbers:").split()
print('a={} b={}'.format(a,b))

In [ ]:
a,b=input("Enter the numbers:").split()
a=int(a);b=int(b)
print("You entered two numbers to sum:{}+{}={}".format(a,b,a+b))

In [ ]:
#to test the functions for string
S="This is a beautiful day!"
dir(S)