## 조건문

In [ ]:
vec=[2,3,4]
x=4
print(x in vec)
if (x in vec):
    print(x is not None)
    print(x, "is not None")

In [ ]:
# error a=2,b=3,c=3
a=2;b=3;c=3
a,b,c=2,3,3
print(a<b==c)

In [ ]:
s1,s2,s3='', 'foo', 'bar'
non_null = s1 or s2 or s3
print(non_null)

In [ ]:
(1,2,3) < (1,2,4)
[1,2,3] < [1,2,4]
'ABC' < 'C' < 'Pascal' < 'Python'
(1,2,3) == (1.0,2.0,3.0)
(1,2) < (1,2,-1)

In [ ]:
2+2==5 or 1+1==2

In [ ]:
2+2==5 and 1+1==2

In [ ]:
not(2+2==5) and 1+1==2

## IF 제어문

In [ ]:
x = 3
if (x == 1):
    print ("one")
elif (x == 2):
    print ("two")
else:
    print ("many")

In [ ]:
x=input('enter a number:')
x = int(x)
if (x == 1):
    print ("one")
elif (x == 2):
    print ("two")
else:
    print ("many")

In [ ]:
mode =input('Enter a string:') # "absolute"
if mode == "canonical":
    smiles = "canonical1"
elif mode == "isomeric":
    smiles = "isomeric1"
elif mode == "absolute":
    smiles = "absolute1"
else:		
    raise TypeError("unknown") # exception
print("Mode is ",smiles)

In [ ]:
x = 2; y = 3; L = [0,1,2]
if (1<x<=3 and 4>y>=2) or (1==1 or 0!=1) or 1 in L:
    print ('Hello world!')

## 삼항 연산자

In [ ]:
a=1
x = 10 if a > 0 else 20
print(x)

# Range

In [ ]:
range(10)

In [ ]:
range(0,10,2)

In [ ]:
for i in range(3):
    print (i)

# For

In [ ]:
a = ['cat', 'window', 'defenestrate']
for x in a:
  print (x, len(x))

In [ ]:
for name in ["Mutasem", "Micah", "Ryan","Cat"]:
    if name[0] == "M":
        print (name, "starts with an M")
    elif name[0]=='R':
        print (name, "starts with an R")
    else:
        print (name, "doesn't start with M")

In [ ]:
s=0
for i in range(1,10):
    if (i%2==0):
        s=s+i
        print(i, " is even")
    elif (i%3==0):
        s=s-i
        print(i, " can be divided by 3")
    else:
        print(i, " is odd")        
print(s)

### For else

In [1]:
for value in [3, 1, 4, 6, 5, 9, 2]:
    print ("Checking:", value)
    if value > 5:
        print ("Exiting for loop due to {}".format(value))
        break
    elif value < 3:
        print ("Ignoring {}".format(value))
        continue
    print ("The square of {} is {}".format(value, value**2))
print('Finished...')

Checking: 3
The square of 3 is 9
Checking: 1
Ignoring 1
Checking: 4
The square of 4 is 16
Checking: 6
Exiting for loop due to 6
Finished...

In [7]:
#when an item isn't found in a list
item=4
for i in [0,1,2]:
    if i == item:
        print ("I found 4!")
        break
else:   
    print ("I searched but never found 4!")

I searched but never found 4!

In [15]:
for n in range(3,10):
    print('n 은 ',n)
    for x in range(2,n): 
        if (n % x == 0):
            print('{}은(는) {}의  배수이다(BREAK)'.format(n,x))
            break
        elif (n % x == 1):
            print("{}을(를) {}로 나누면 나머지가 1이다(CONTINUE)".format(n,x))
            continue
        else:
            print('{}는 다음 수와 배수나 짝수 관계가 아니다'.format(n))
    else:
        print ('!!{}는 다음 나오는 수와 관계를 찾을 수 없다'.format(n))

n 은  3
3을(를) 2로 나누면 나머지가 1이다(CONTINUE)
!!3는 다음 나오는 수와 관계를 찾을 수 없다
n 은  4
4은(는) 2의  배수이다(BREAK)
n 은  5
5을(를) 2로 나누면 나머지가 1이다(CONTINUE)
5는 다음 수와 배수나 짝수 관계가 아니다
5을(를) 4로 나누면 나머지가 1이다(CONTINUE)
!!5는 다음 나오는 수와 관계를 찾을 수 없다
n 은  6
6은(는) 2의  배수이다(BREAK)
n 은  7
7을(를) 2로 나누면 나머지가 1이다(CONTINUE)
7을(를) 3로 나누면 나머지가 1이다(CONTINUE)
7는 다음 수와 배수나 짝수 관계가 아니다
7는 다음 수와 배수나 짝수 관계가 아니다
7을(를) 6로 나누면 나머지가 1이다(CONTINUE)
!!7는 다음 나오는 수와 관계를 찾을 수 없다
n 은  8
8은(는) 2의  배수이다(BREAK)
n 은  9
9을(를) 2로 나누면 나머지가 1이다(CONTINUE)
9은(는) 3의  배수이다(BREAK)

In [ ]:
for i in [1,2,3]:
    if i==0:
        print ("pass %d" % i)
        pass
    print ("I pass") # will print after pass

for i in [4,5,6]:
    if i:
        print ("pass %d" % i)
        continue
    print ("I pass") # will print after pass

In [ ]:
A = [1, 2, 3]
B = [4, 5, 6]
for (a,b) in zip(A,B):
    print (a, "*", b, "=", a*b)

In [ ]:
data = [ ("C20H20O3", 308.371),
	("C22H20O2", 316.393),
	("C24H40N4O2", 416.6),
	("C14H25N5O3", 311.38),
	("C15H20O2", 232.3181)]

for (formula, mw) in data:
	print ("The molecular weight of {} is {}".format(formula, mw))

In [ ]:
bookauthors = {'Gone with the Wind': 'Margaret Mitchell',
               'Aeneid': 'Virgil',
               'Odyssey': 'Homer'}

for book in bookauthors:
    print(book, 'by', bookauthors[book])

In [ ]:
bookauthors.update({"Hamlet": "Shakespear", "Miracle": "Lewis"})
for k, v in bookauthors.items():
    print(k, v)

# While

In [16]:
i=1
while (i < 4):
    print (i)
    i += 1  # i=i+1

1
2
3

In [17]:
num = 0
while 1:
   print(num)
   if num == 10:
      break 
   num += 1

0
1
2
3
4
5
6
7
8
9
10

In [18]:
a,b = 0, 1
while b < 10:
  print (a,b) 
  # multiple assignment
  a,b = b, a+b

0 1
1 1
1 2
2 3
3 5
5 8

In [ ]:
n=int(input("Enter the number to sum up to:"))
s=0
for i in range(n+1):
    s=s+i
print(s)

In [ ]:
for i in [1,2,3]:
    if i:
        print ("pass %d" % i)
        pass
    print ("I pass") # will print after pass

In [ ]:
for i in [4,5,6]:
    if i:
        print ("pass %d" % i)
        continue
    print ("I pass") # will print after pass